
<div class="deliverable">
  <div class="deliverable-name"><%= deliverable.name %></div>

  <%= render 'deliverables/hours_btn', deliverable: deliverable %>

  <%= render 'deliverables/completed_btn', deliverable: deliverable %>
  <br>
  <%= render 'deliverables/show_form', deliverable: deliverable %>

  <%= render 'deliverables/notes_btn', deliverable: deliverable %>

  <%= render 'deliverables/remove_btn', deliverable: deliverable %>
  <br>
  <%= render 'deliverables/deliverable_form', parent_id: deliverable.id %>
</div>

<% deliverable.children.order(:created_at).each do |child_deliverable| %>
  <blockquote>
    <%= render 'deliverables/deliverable', deliverable: child_deliverable %>
  </blockquote>
<% end %>