<form action="<%= deliverable_url(deliverable) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">

  <button
    id="xmark <%= deliverable.id %>"
    class="btn <%= deliverable.completed ? 'incomplete' : 'remove' %>"
    <%= deliverable.completed ? 'disabled' : nil %>>
    &#10007;
  </button>

  <label
    for="xmark <%= deliverable.id %>"
    class="subtle">
    <%= deliverable.completed ? "can't remove completed deliverable" : 'remove deliverable' %>
  </label>

</form>

&nbsp;