<% disabled = @deliverable.completed ? 'disabled' : nil %>




<div class="deliverable">
  <h2>
    <%= @deliverable.name %>
    <small>in <%= link_to @deliverable.project.name %> for <%= @deliverable.project.client %>
    </small>
  </h2><br>

  <div>
    <form action="<%= remove_hour_deliverable_url(@deliverable) %>" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <button
        <%= disabled %>
        class="btn <%= @deliverable.completed ?
          'completed' : 'remove-hour' %>">-</button>
    </form>

    <span class="subtle"><%= @deliverable.hour_count %> hours</span>

    <form action="<%= add_hour_deliverable_url(@deliverable) %>" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <button
        <%= disabled %>
        class="btn <%= @deliverable.completed ?
          'completed' : 'add-hour' %>">+</button>
    </form>

  </div>
  &nbsp;
  <%= render 'deliverables/completed_btn', deliverable: @deliverable %>

  <%= render 'deliverables/remove_btn', deliverable: @deliverable %>
  <br>
</div>

<h3>Status: <%= @deliverable.completed ? 'COMPLETE' : 'INCOMPLETE' %></h3>
<h3>
  Hourly: $<%= @deliverable.hourly ?
    @deliverable.hourly :
    (link_to "Add Hourly",
      edit_deliverable_url(@deliverable),
      class: 'subtle') %>
</h3>

<%= link_to "Back to Project", project_url(@project), class: 'subtle' %>

<%= link_to "Edit deliverable", edit_deliverable_url(@deliverable), class: 'subtle' %>

<h3>Notes:</h3>
<% @deliverable.notes.each do |note| %>
  <%= render 'notes/note', note: note %>
<% end %>




<h3>Subdeliverables:</h3>
<div><%= render 'deliverable_form', parent_id: @deliverable.id %>

<% @deliverable.children.each do |child| %>
  <blockquote>
    <%= render 'deliverable', deliverable: child %>
  </blockquote>
<% end %>
</div>