<form action="<%= project_url(@project) %>" method="POST" accept-charset="utf-8">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <input
    type="hidden"
    name="_method"
    value="PATCH">

  <label>Client:
    <select name="project[client_id]">
      <option value="">~select client~</option>
      <% current_user.clients.each do |client| %>
      <option
        value="<%= client.id %>"
        <%= 'selected' if @project.client_id == client.id %>>
        <%= client %>
      </option>
      <% end %>
    </select>
  </label>

  <br>
  <label>Name:
    <input type="text" name="project[name]" value="<%= @project.name %>">
  </label>
  <br>
  <label>Description:
    <textarea name="project[description]"><%= @project.description %></textarea>
  </label>
  <br>
  <!-- <label>Deliver by:
    <input type="date" name="project[due_date]" value="">
  </label>
  <br> -->

  <button class="btn">Update Project</button>
</form>

<br>

<h3>OR</h3>

<div class="deliverable">
  <%= button_to "&#10007;".html_safe,project_url(@project),
        method: :delete,
        data: { confirm: "This will delete #{@project.name} (and all of it's dependents) permanently." },
        class: 'btn remove', id: 'xmark' %>
  <label for='xmark' class='subtle'><%= @project.open ? "remove project" : "can't remove closed project" %></label>
</div>