<!DOCTYPE html>
<html>
<head>
  <title>Donzo ~ a simple project manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="banner">
    <div class="left">
      <span id="title">DONZO</span>
      </div><div class="right">
      <% if logged_in? %>
        Hello, <%= current_user.username %>
        <%= link_to "Home", user_url(current_user) %>
        <%= link_to "Clients", clients_url(current_user) %>
        <%= button_to "Sign Out", session_url, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_url %>
        <%= link_to "Sign In", new_session_url %>
      <% end %>
    </div>
  </div>

  <div id="container">
    <%= flash[:errors] %>

    <%= yield %>
  </div>

</body>
</html>
